
## <summary>policy for miraclecoin</summary>


########################################
## <summary>
##	Transition to miraclecoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`miraclecoin_domtrans',`
	gen_require(`
		type miraclecoin_t, miraclecoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, miraclecoin_exec_t, miraclecoin_t)
')


########################################
## <summary>
##	Execute miraclecoin server in the miraclecoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`miraclecoin_initrc_domtrans',`
	gen_require(`
		type miraclecoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, miraclecoin_initrc_exec_t)
')


########################################
## <summary>
##	Search miraclecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`miraclecoin_search_lib',`
	gen_require(`
		type miraclecoin_var_lib_t;
	')

	allow $1 miraclecoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read miraclecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`miraclecoin_read_lib_files',`
	gen_require(`
		type miraclecoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, miraclecoin_var_lib_t, miraclecoin_var_lib_t)
')

########################################
## <summary>
##	Manage miraclecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`miraclecoin_manage_lib_files',`
	gen_require(`
		type miraclecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, miraclecoin_var_lib_t, miraclecoin_var_lib_t)
')

########################################
## <summary>
##	Manage miraclecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`miraclecoin_manage_lib_dirs',`
	gen_require(`
		type miraclecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, miraclecoin_var_lib_t, miraclecoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a miraclecoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`miraclecoin_admin',`
	gen_require(`
		type miraclecoin_t;
		type miraclecoin_initrc_exec_t;
		type miraclecoin_var_lib_t;
	')

	allow $1 miraclecoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, miraclecoin_t)

	miraclecoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 miraclecoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, miraclecoin_var_lib_t)

')

