# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=MiracleCoin Daemon SNAP
Comment=testnet
GenericName=MiracleCoin Digital Currency Daemon Client testnet network
Exec=miraclecoin-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/miraclecoin_testnet.png
MimeType=x-scheme-handler/mrc;
Categories=X-Office;X-Finance;
Keywords=internet;miraclecoin;zmrc;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
