# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=MiracleCoin
Comment=MiracleCoin QT test network
GenericName=MiracleCoin Digital Currency QT client testnet network
Exec=miraclecoin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/miraclecoin_testnet.png
MimeType=x-scheme-handler/mrc;
Categories=X-Office;X-Finance;
Keywords=internet;miraclecoin;zmrc;tbc;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
